.buttonsContainer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 595px;
}

.responseContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    /*max-width: 1000px;*/
    margin: 25.2px auto 0;
}

.imageContainer {
    margin: 0 10% 0 0;
    }
    .image {
}

.textContainer {
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    }
    .code {
        font-size: 30px;
        font-weight: 500;
        line-height: 37px;
    }
    .text {
    }
    .info {
        max-width: 510px;
    }