@keyframes backgroundColor {
    0%{
        background-color: #000000;
        opacity: 0;
    }
    100%{
        background-color: #000000;
        opacity: 0.3;
    }

}

@keyframes closeRotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(90deg);
    }

}





.sidebar {
    position: fixed;
    display: inline-flex;
    align-items: start;
    height: 300%;
    width: 0;
    top: 0;
    left: 0;
    z-index: 11;
    transition: all 0.3s ease-in-out;
    }
    .sidebar.open {
        max-width: 0;
        opacity: 1;
        transition: all 0.3s ease-in-out;
        transform: translateX(317px);
}



.background {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    transition: all 1s ease;
    animation: backgroundColor 1s forwards;
}


.nav {
    display: flex;
    flex-direction: column;
    min-width: 317px;
    flex: 0 1 auto;
    transform: translateX(-317px);
    background-color: #fff;
    height: 100%;
    padding: 63px 0 0 70px;
    }
    .nav a {
        font-family: 'Montserrat', sans-serif;
        display: block;
        max-width: 140px;
        margin: 0 0 45px 0;
        font-style: normal;
        font-weight: 600;
        font-size: 22px;
        color: #000;
        text-decoration: none;
    }
    .nav a:hover {
        color: #0059B2;
        text-decoration: underline;
    }
    .nav a.active {
        color: #58ACFF;
}


.close {
    position: fixed;
    display: inline-block;
    top: 22px;
    left: -50px;
    background: transparent;
    border: none;
    width: 30px;
    z-index: 102;
    /*transform: translateX(-1px);*/
    }
    .close:hover {
        animation: closeRotate .1s ease-in forwards;
        top: 21px;
        right: 22px;
        filter: drop-shadow(2px 0px 1px black);

    }
    .close img {
        width: 24px;
        cursor: pointer;
}
