.input:focus {
}
.inputWrapper {
}
.input {
    max-width: 372px;
    min-width: 100px;
    height: 36px;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    padding: 0 12px;
}



.superInput {
}

.errorInput {
}

.errorInput:focus {
}

.error {
}
