.radio {
    display: block;
    width: 20px;
    min-width: 20px;
    height: 20px;
    margin: 0 13px 21px 0;
}

.radio::before {
    content: '';
    display: flex;
    width: 20px;
    height: 20px;
    border: 2px solid red;
    border-radius: 50%;
    margin: 0 12px 24px 0;
}

/*.label::before {*/
/*    content: '';*/
/*    display: flex;*/
/*    width: 20px;*/
/*    min-width: 20px;*/
/*    height: 20px;*/
/*    border: 2px solid #000000;*/
/*    border-radius: 50%;*/
/*    margin: 0 12px 0 0;*/
/*}*/

.span{
    position: relative;
    display: block;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 400;
}



.label {
    display: inline-flex;
    /*align-items: center;*/
    /*user-select: none;*/
    /*margin: 0 0 24px;*/
    cursor: pointer;
}

.label>input{
    position: absolute;
    z-index: -1;
    opacity: 0;
    /*user-select: none;*/
    /*display: none;*/
    /*display: flex;*/
}



.options {
    display: flex;
    flex-direction: column;
    align-items: start;
}
