.editableSpanContainer {
    display: block;
    max-width: 290px;
    margin: 0 0 12px;
    height: 36px;
}

.buttonsContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 270px;
    flex-wrap: wrap;
}

