
.select {
    position: relative;
    appearance: none;
    outline: none;
    display: inline-block;
    width: 100%;
    max-width: 165px;
    min-width: 120px;
    height: 24px;
    padding: 0 10px;
    border-radius: 2px;
    border: 1px solid #C2C2C2;
    cursor: pointer;
    background: url("./chevron-down.svg") 96%/10% no-repeat;
}
.select:focus{
    background: url("./chevron-up.svg")96%/10% no-repeat;
}
select::-ms-expand{
    display: none;
}
option{
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
}
.option:hover {
}

