.select {
    display: flex;
    height: 24px;
    width: 165px;
    border-radius: 2px;
    border: 1px solid #C2C2C2;

}

.select:focus {
}

.option{
    height: 100px;
    margin: 20px;
}
.option:hover {

}
